In [1]:
import _preparation
from data.pandas_df import get_data_pandas_df
df = get_data_pandas_df()

In [6]:
df.sample(5)

,ID,Gender,Own_car,Own_property,Work_phone,Phone,Email,Unemployed,Num_children,Num_family,Account_length,Total_income,Age,Years_employed,Income_type,Education_type,Family_status,Housing_type,Occupation_type,Target
3230,5048528,0,1,1,0,0,0,0,1,3,39,270000.0,33.27926,2.680411,Commercial associate,Academic degree,Married,House / apartment,Sales staff,1